<h1>Fotoblog(<%= @mensajes.size %>)</h1>


<%= link_to 'Nuevo_mensaje' , 
	:action => 'nuevo_mensaje'%>

<table border="1">
	<tr>
		<th>id</th>
		<th>Titulo</th>
		<th>Descripcion</th>
	</tr>
	<% for mensaje in @mensajes %>
		<tr>
			<td> <%= mensaje.id%> </td>
			<td> <%= mensaje.titulo%> </td>
			<td> <%= mensaje.descripcion%> </td>
		</tr>
	<%end%>

</table>
